.bsk-logo {
    margin-right: 8px;
}
.flex-spacer {
    flex: 1;
}
.count-badge {
    background: #fff;
    color: #425563;
    font-weight: bold;
    cursor: default;
}
.spinner-wrap {
    position: relative;
    mat-spinner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}