<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <a [routerLink]="['/']">
    <img class="bsk-logo" src="/assets/logo.svg" />
  </a>
  <ng-content></ng-content>
  <div class="flex-spacer"></div>
  <div *ngIf="!exampleDataLoading">
    <button *ngIf="!hasExampleData" mat-icon-button (click)="getExampleData.emit()" matTooltipPosition="left" matTooltip="Get data">
      <mat-icon>cloud_download</mat-icon>
    </button>
    <button mat-icon-button *ngIf="hasExampleData" class="count-badge" matTooltipPosition="left"  [matTooltip]="'Got ' + exampleDataCount + ' rows of data.'">
        <span>{{exampleDataCount}}</span>
    </button>
  </div>
  <div class="spinner-wrap mat-icon-button count-badge" *ngIf="exampleDataLoading">
      <mat-spinner [diameter]="20" [strokeWidth]="2"></mat-spinner>
  </div>
</mat-toolbar>
